
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.aha-home-page-w9w {
  width: 100%;
  height: 347.9rem;
  position: relative;
  overflow: hidden;
  background-color: #232121;

  .auto-group-hdsd-vnZ {
    position: absolute;
    left: 0;
    top: 0;
    width: 189.3rem;
    height: 85.6rem;

    .image-1-niH {
      vertical-align: top;
      width: 144.9rem;
      height: 81.5rem;
      position: absolute;
      left: 0;
      top: 3.8rem;
      object-fit: cover;
    }
    .rectangle-15-Vsb {
      width: 160.7rem;
      height: 9.4rem;
      position: absolute;
      left: 0;
      top: 0;
      filter: blur(6.62rem);
      background-color: #000000;
    }
    .rectangle-16-maD {
      top: 4.1rem;
      filter: blur(6.62rem);
      background-color: #000000;
      width: 160.7rem;
      height: 9.4rem;
      position: absolute;
      left: 0;
    }
    .home-W21 {
      font-weight: 700;
      white-space: nowrap;
      width: 5.2rem;
      position: absolute;
      left: 17rem;
      top: 2.4rem;
      text-align: center;
      height: 2.2rem;
      font-size: 1.8rem;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .movies-A6Z {
      width: 6.4rem;
      color: #ffffff;
      white-space: nowrap;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.2125;
      height: 2.2rem;
      position: absolute;
      left: 27.1rem;
      top: 2.4rem;
      font-family: Inter, 'Source Sans Pro';
    }
    .shows-Fdo {
      top: 2.5rem;
      text-align: center;
      font-size: 1.8rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      height: 2.2rem;
      left: 38.4rem;
      font-weight: 700;
      color: #ffffff;
      white-space: nowrap;
      width: 6rem;
      position: absolute;
    }
    .watch-for-free-kaZ {
      position: absolute;
      left: 49.3rem;
      top: 2.5rem;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;
      white-space: nowrap;
      width: 12.9rem;
      height: 2.2rem;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .my-aha-s9P {
      left: 67.1rem;
      top: 2.7rem;
      font-weight: 700;
      line-height: 1.2125;
      white-space: nowrap;
      width: 6.4rem;
      position: absolute;
      text-align: center;
      font-size: 1.8rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      height: 2.2rem;
    }
    .aha-removebg-preview-3-P7j {
      object-fit: cover;
      vertical-align: top;
      width: 13.2rem;
      height: 7.7rem;
      position: absolute;
      left: 0.9rem;
      top: 0;
    }
    .rectangle-19-ubs {
      position: absolute;
      left: 113.3rem;
      top: 1.2rem;
      background-color: #ff6e2d;
      border-radius: 4rem;
      width: 14.8rem;
      height: 4.9rem;
    }
    .subscribe-now-qEd {
      top: 2.7rem;
      line-height: 1.2125;
      color: #ffffff;
      width: 11.9rem;
      height: 2rem;
      position: absolute;
      left: 114.7rem;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .nick-wHf {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 2rem;
      top: 2.9rem;
      color: #ffffff;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.2125;
      width: 3.5rem;
      position: absolute;
      left: 136.7rem;
    }
  }
  .auto-group-rwrr-F3T {
    left: 0;
    top: 6.1rem;
    width: 144rem;
    height: 328.95rem;
    position: absolute;

    .union-ZK3 {
      height: 2.7rem;
      position: absolute;
      left: 102.8rem;
      top: -3.8rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.7291rem;
    }
    .component-2-5HP {
      width: 3.7019rem;
      height: 3.8018rem;
      position: absolute;
      left: 107.9rem;
      top: -4.1rem;

      .rectangle-17-nhb {
        width: 2.5019rem;
        height: 2.5018rem;
        top: 0;
        border: solid 0.2rem #fffdfd;
        border-radius: 0.8rem;
        position: absolute;
        left: 0;
        box-sizing: border-box;
        background-color: #111010;
      }
      .a-Vc1 {
        height: 2rem;
        position: absolute;
        text-align: center;
        line-height: 1.2125;
        white-space: nowrap;
        font-family: Inter, 'Source Sans Pro';
        width: 1.2rem;
        left: 0.65rem;
        top: 0.3rem;
        font-size: 1.6rem;
        font-weight: 700;
        color: #ffffff;
      }
      .rectangle-18-CWR {
        top: 1.3rem;
        border: solid 0.2rem #ffffff;
        width: 2.5019rem;
        height: 2.5018rem;
        box-sizing: border-box;
        background-color: #000000;
        border-radius: 0.8rem;
        position: absolute;
        left: 1.2rem;
      }
      .union-JZT {
        width: 1.2rem;
        height: 1.2rem;
        position: absolute;
        left: 1.9rem;
        top: 2rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-rw93-Exu {
      left: 5rem;
      top: 85.1rem;
      display: flex;
      align-items: center;
      width: 136.2rem;
      height: 3.3rem;
      position: absolute;

      .new-releases-wcR {
        line-height: 1.2125;
        white-space: nowrap;
        margin-right: 109rem;
        text-align: center;
        font-size: 2.7rem;
        font-weight: 700;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .see-all-4ww {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2.7rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .auto-group-5yld-QW1 {
      height: 27rem;
      position: absolute;
      left: 5.2rem;
      top: 90.3rem;
      display: flex;
      column-gap: 2.8rem;
      align-items: center;
      width: 137rem;

      .rectangle-20-vDT {
        height: 27rem;
        background-color: #d9d9d9;
        border-radius: 1.4rem;
        flex-shrink: 0;
        width: 20.5rem;
      }
      .rectangle-27-qLR {
        flex-shrink: 0;
        width: 20.5rem;
        height: 27rem;
        background-color: #d9d9d9;
        border-radius: 1.4rem;
      }
      .rectangle-26-kiH {
        width: 20.5rem;
        height: 27rem;
        background-color: #d9d9d9;
        border-radius: 1.4rem;
        flex-shrink: 0;
      }
      .rectangle-25-grq {
        width: 20.5rem;
        height: 27rem;
        background-color: #d9d9d9;
        border-radius: 1.4rem;
        flex-shrink: 0;
      }
      .rectangle-24-ENZ {
        width: 20.5rem;
        height: 27rem;
        background-color: #d9d9d9;
        border-radius: 1.4rem;
        flex-shrink: 0;
      }
      .rectangle-23-Njf {
        border-radius: 1.4rem;
        flex-shrink: 0;
        width: 20.5rem;
        height: 27rem;
        background-color: #d9d9d9;
      }
    }
    .auto-group-jkvo-j4R {
      height: 27rem;
      position: absolute;
      left: 5.2rem;
      top: 133.6rem;
      display: flex;
      column-gap: 2.8rem;
      align-items: center;
      width: 137rem;

      .rectangle-33-3L1 {
        width: 20.5rem;
        height: 27rem;
        background-color: #d9d9d9;
        border-radius: 1.4rem;
        flex-shrink: 0;
      }
      .rectangle-32-Pem {
        width: 20.5rem;
        height: 27rem;
        background-color: #d9d9d9;
        border-radius: 1.4rem;
        flex-shrink: 0;
      }
      .rectangle-31-Y1s {
        width: 20.5rem;
        height: 27rem;
        background-color: #d9d9d9;
        border-radius: 1.4rem;
        flex-shrink: 0;
      }
      .rectangle-30-GyT {
        height: 27rem;
        background-color: #d9d9d9;
        border-radius: 1.4rem;
        flex-shrink: 0;
        width: 20.5rem;
      }
      .rectangle-29-RbT {
        width: 20.5rem;
        height: 27rem;
        background-color: #d9d9d9;
        border-radius: 1.4rem;
        flex-shrink: 0;
      }
      .rectangle-28-mQR {
        border-radius: 1.4rem;
        flex-shrink: 0;
        width: 20.5rem;
        height: 27rem;
        background-color: #d9d9d9;
      }
    }
    .auto-group-uuu1-7DP {
      width: 137rem;
      height: 27rem;
      position: absolute;
      left: 5.2rem;
      top: 176.9rem;
      display: flex;
      align-items: center;

      .rectangle-39-E37 {
        height: 27rem;
        background-color: #d9d9d9;
        border-radius: 1.4rem;
        flex-shrink: 0;
        margin-right: 2.8rem;
        width: 20.5rem;
      }
      .rectangle-38-ZbB {
        border-radius: 1.4rem;
        flex-shrink: 0;
        margin-right: 2.8rem;
        width: 20.5rem;
        height: 27rem;
        background-color: #d9d9d9;
      }
      .rectangle-37-WFX {
        margin-right: 2.9rem;
        width: 20.5rem;
        height: 27rem;
        background-color: #d9d9d9;
        border-radius: 1.4rem;
        flex-shrink: 0;
      }
      .rectangle-36-e6q {
        margin-right: 2.9rem;
        width: 20.5rem;
        height: 27rem;
        background-color: #d9d9d9;
        border-radius: 1.4rem;
        flex-shrink: 0;
      }
      .rectangle-35-P4R {
        width: 20.5rem;
        height: 27rem;
        background-color: #d9d9d9;
        border-radius: 1.4rem;
        flex-shrink: 0;
        margin-right: 2.6rem;
      }
      .rectangle-34-8Gu {
        width: 20.5rem;
        height: 27rem;
        background-color: #d9d9d9;
        border-radius: 1.4rem;
        flex-shrink: 0;
      }
    }
    .auto-group-gumx-5T3 {
      left: 5.2rem;
      top: 220.2rem;
      display: flex;
      column-gap: 2.8rem;
      align-items: center;
      width: 137rem;
      height: 27rem;
      position: absolute;

      .rectangle-45-QER {
        border-radius: 1.4rem;
        flex-shrink: 0;
        width: 20.5rem;
        height: 27rem;
        background-color: #d9d9d9;
      }
      .rectangle-44-kZB {
        width: 20.5rem;
        height: 27rem;
        background-color: #d9d9d9;
        border-radius: 1.4rem;
        flex-shrink: 0;
      }
      .rectangle-43-Vmf {
        width: 20.5rem;
        height: 27rem;
        background-color: #d9d9d9;
        border-radius: 1.4rem;
        flex-shrink: 0;
      }
      .rectangle-42-qqX {
        width: 20.5rem;
        height: 27rem;
        background-color: #d9d9d9;
        border-radius: 1.4rem;
        flex-shrink: 0;
      }
      .rectangle-41-nEy {
        flex-shrink: 0;
        width: 20.5rem;
        height: 27rem;
        background-color: #d9d9d9;
        border-radius: 1.4rem;
      }
      .rectangle-40-83w {
        width: 20.5rem;
        height: 27rem;
        background-color: #d9d9d9;
        border-radius: 1.4rem;
        flex-shrink: 0;
      }
    }
    .component-3-FPT {
      object-fit: contain;
      vertical-align: top;
      width: 10rem;
      height: 1rem;
      position: absolute;
      left: 67rem;
      top: 82.1rem;
    }
    .non-stop-hitters-yqF {
      top: 128.4rem;
      font-size: 2.7rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #ffffff;
      width: 22.5rem;
      height: 3.3rem;
      position: absolute;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      left: 4.9rem;
      text-align: center;
    }
    .movies-H5F {
      font-size: 2.7rem;
      width: 9.6rem;
      position: absolute;
      left: 5.4rem;
      top: 171.7rem;
      text-align: center;
      white-space: nowrap;
      height: 3.3rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .shows-yTs {
      left: 5.2rem;
      color: #ffffff;
      white-space: nowrap;
      top: 215rem;
      text-align: center;
      font-size: 2.7rem;
      font-weight: 700;
      line-height: 1.2125;
      width: 8.9rem;
      height: 3.3rem;
      position: absolute;
      font-family: Inter, 'Source Sans Pro';
    }
    .actorsa-z-HUZ {
      width: 16.2rem;
      height: 3.3rem;
      position: absolute;
      text-align: center;
      font-size: 2.7rem;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      left: 5.2rem;
      top: 258.3rem;
      line-height: 1.2125;
      color: #ffffff;
      white-space: nowrap;
    }
    .auto-group-hwmk-Q3P {
      display: flex;
      align-items: center;
      width: 138.8rem;
      height: 16rem;
      position: absolute;
      left: 5.2rem;
      top: 263.5rem;

      .ellipse-19-Ws7 {
        height: 16rem;
        background-color: #d9d9d9;
        border-radius: 8rem;
        flex-shrink: 0;
        margin-right: 1.6rem;
        width: 16rem;
      }
      .ellipse-27-3s3 {
        margin-right: 1.6rem;
        width: 16rem;
        height: 16rem;
        background-color: #d9d9d9;
        border-radius: 8rem;
        flex-shrink: 0;
      }
      .ellipse-26-PAD {
        margin-right: 1.6rem;
        width: 16rem;
        height: 16rem;
        background-color: #d9d9d9;
        border-radius: 8rem;
        flex-shrink: 0;
      }
      .ellipse-25-uuF {
        background-color: #d9d9d9;
        border-radius: 8rem;
        flex-shrink: 0;
        margin-right: 1.6rem;
        width: 16rem;
        height: 16rem;
      }
      .ellipse-24-qnu {
        background-color: #d9d9d9;
        border-radius: 8rem;
        flex-shrink: 0;
        margin-right: 1.6rem;
        width: 16rem;
        height: 16rem;
      }
      .ellipse-23-mgZ {
        border-radius: 8rem;
        flex-shrink: 0;
        margin-right: 1.6rem;
        width: 16rem;
        height: 16rem;
        background-color: #d9d9d9;
      }
      .ellipse-22-hq7 {
        flex-shrink: 0;
        margin-right: 1.2rem;
        width: 16rem;
        height: 16rem;
        background-color: #d9d9d9;
        border-radius: 8rem;
      }
      .ellipse-21-2Mb {
        width: 16rem;
        height: 16rem;
        background-color: #d9d9d9;
        border-radius: 8rem;
        flex-shrink: 0;
      }
    }
    .auto-group-ksbb-NAZ {
      display: flex;
      align-items: flex-end;
      width: 128rem;
      height: 24rem;
      position: absolute;
      left: 3.1rem;
      top: 288.7rem;

      .auto-group-rgyd-5am {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 0.1rem;
        width: 20.6rem;

        .aha-removebg-preview-2-p2Z {
          margin-right: 0.5rem;
          width: 20.1rem;
          height: 12rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .connect-with-us-w7B {
          font-weight: 600;
          line-height: 1.2125;
          white-space: nowrap;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0rem 0.7rem 2.4rem;
          text-align: center;
          font-size: 2.3rem;
        }
        .auto-group-71au-pgm {
          margin: 0rem 2.1rem 0rem 2.3rem;
          width: calc(100% - 4.4rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .rectangle-46-YMs {
            flex-shrink: 0;
            margin-right: 2.2rem;
            width: 7rem;
            height: 7rem;
            background-color: #d9d9d9;
            border-radius: 1.5rem;
          }
          .rectangle-48-LS9 {
            flex-shrink: 0;
            width: 7rem;
            height: 7rem;
            background-color: #d9d9d9;
            border-radius: 1.5rem;
          }
        }
      }
      .rectangle-47-G4u {
        margin-right: 14.4rem;
        width: 7rem;
        height: 7rem;
        background-color: #d9d9d9;
        border-radius: 1.5rem;
        flex-shrink: 0;
      }
      .auto-group-hj4d-12V {
        flex-shrink: 0;
        margin: 0rem 8.5rem 4.7rem 0rem;
        width: 25.6rem;

        .popular-telugu-movies-Y2R {
          text-align: center;
          font-weight: 700;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          margin-bottom: 2.5rem;
          width: 100%;
          font-size: 2.3rem;
          color: #ffffff;
          white-space: nowrap;
        }
        .masooda-dj-tillu-sardar-ori-devuda-swati-mutyam-Sdb {
          line-height: 1.2125;
          color: #787878;
          font-family: Inter, 'Source Sans Pro';
          max-width: 15.6rem;
          font-size: 2.3rem;
          font-weight: 500;
        }
      }
      .auto-group-jdmp-ZCR {
        margin: 0rem 5.6rem 4.7rem 0rem;
        width: 27.6rem;
        flex-shrink: 0;

        .most-watched-movies-6CM {
          width: 100%;
          line-height: 1.2125;
          white-space: nowrap;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          margin-bottom: 2.5rem;
          text-align: center;
          font-size: 2.3rem;
          font-weight: 700;
        }
        .samajavaragamana-intinti-ramayanam-hidimba-sathi-gani-rendu-ekaralu-das-ka-dhammki-p8M {
          color: #787878;
          font-family: Inter, 'Source Sans Pro';
          max-width: 27.6rem;
          font-size: 2.3rem;
          font-weight: 500;
          line-height: 1.2125;
        }
      }
      .auto-group-sa6r-JJR {
        margin-bottom: 2.4rem;
        width: 18.6rem;
        flex-shrink: 0;

        .learn-more-FDf {
          text-align: center;
          font-size: 2.3rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2rem;
          width: 100%;
          font-weight: 700;
          line-height: 1.2125;
          color: #ffffff;
        }
        .view-plans-about-us-faqs-help-privacy-policy-terms-of-service-blog-AbX {
          max-width: 18.6rem;
          font-size: 2.3rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #787878;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
    .download-aha-on-mobile-4S1 {
      top: 313.4rem;
      font-size: 2.3rem;
      font-weight: 600;
      line-height: 1.2125;
      color: #ffffff;
      width: 27.2rem;
      position: absolute;
      left: 5.2rem;
      white-space: nowrap;
      height: 2.8rem;
      font-family: Inter, 'Source Sans Pro';
    }
    .auto-group-wwjh-kpd {
      top: 317.7rem;
      display: flex;
      align-items: center;
      width: 25.6rem;
      height: 5rem;
      position: absolute;
      left: 5.4rem;

      .rectangle-49-suF {
        height: 5rem;
        background-color: #d9d9d9;
        border-radius: 1.5rem;
        flex-shrink: 0;
        margin-right: 1.6rem;
        width: 12rem;
      }
      .rectangle-50-cbw {
        height: 5rem;
        background-color: #d9d9d9;
        border-radius: 1.5rem;
        flex-shrink: 0;
        width: 12rem;
      }
    }
    .auto-group-yq9b-A7f {
      height: 3.8rem;
      position: absolute;
      left: 5.2rem;
      top: 323.4rem;
      display: flex;
      align-items: flex-start;
      width: 116.1rem;

      .contact-us-supportahain-tZT {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 80.4rem;
        font-size: 2.3rem;
        font-weight: 600;
      }
      .ellipse-28-pT7 {
        flex-shrink: 0;
        margin-top: 0.3rem;
        width: 5rem;
        height: 3.5rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .component-4-Mhw {
      background-size: cover;
      background-position: center;
      height: 6.5rem;
      left: 113.1rem;
      top: 322.5rem;
      position: absolute;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:44:72');
      box-sizing: border-box;
      padding-top: 2.8rem;
      width: 29.8rem;

      .rectangle-52-H5o {
        width: 29.8rem;
        height: 3.7rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .component-1-oK3 {
    width: 4.9rem;
    height: 4.9rem;
    position: absolute;
    left: 129.5rem;
    top: 1.2rem;
    object-fit: contain;
    vertical-align: top;
  }
  .auto-group-yhe5-K2V {
    position: absolute;
    left: 3.1rem;
    top: 340.1rem;
    display: flex;
    align-items: center;
    width: 132.9rem;
    height: 2.5rem;

    .copyright-2023-arha-media-and-broadcasting-pvt-ltd-all-rights-reserved-Scu {
      font-weight: 500;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 41rem;
      font-size: 2rem;
    }
    .powered-by-vnikhil-XeM {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #ffffff;
    }
  }
  .line-5-eiy {
    position: absolute;
    left: 0;
    top: 335.05rem;
    background-color: #818080;
    width: 144.0009rem;
    height: 0.1rem;
  }
}
