
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-PgR {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #232020;

  .auto-group-5hdp-8e1 {
    position: relative;
    flex-shrink: 0;
    margin-bottom: 10.2rem;
    width: 65.0735rem;
    height: 31.4rem;

    .aha-removebg-preview-1-4nZ {
      object-fit: cover;
      vertical-align: top;
      width: 13.2rem;
      height: 7.7rem;
      position: absolute;
      left: 3.5rem;
      top: 1.8rem;
    }
    .ellipse-1-NoF {
      position: absolute;
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 65.0735rem;
      height: 28.0404rem;
    }
  }
  .auto-group-bwgd-81j {
    width: 176.4005rem;
    height: 133.3129rem;
    position: relative;
    flex-shrink: 0;
    margin-left: 44.4rem;

    .rectangle-2-SHK {
      top: 0;
      filter: blur(0.2rem);
      background-color: #353434;
      width: 129.4005rem;
      height: 133.3129rem;
      position: absolute;
      left: 47rem;
    }
    .rectangle-1-xmT {
      width: 55.2rem;
      height: 54rem;
      position: absolute;
      left: 0;
      top: 4.5rem;
      background-color: #171717;
      border-radius: 2.1rem;
    }
    .lets-get-hU9 {
      height: 4.9rem;
      left: 8.9rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 20.2rem;
      top: 10.1rem;
      text-align: center;
      font-size: 4rem;
      position: absolute;
    }
    .started-BPK {
      width: 18.9rem;
      height: 4.9rem;
      font-size: 4rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 8.9rem;
      top: 14.4rem;
      text-align: center;
      font-weight: 800;
      line-height: 1.2125;
    }
    .item--toX {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 1.3rem;
      height: 4.9rem;
      text-align: center;
      font-size: 4rem;
      font-weight: 800;
      line-height: 1.2125;
      position: absolute;
      left: 27.6rem;
      top: 14.4rem;
      color: #ff6e2e;
    }
    .union-bhw {
      height: 1.6rem;
      position: absolute;
      left: 2.9rem;
      top: 11.5rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.3rem;
    }
    .mobile-number-k53 {
      width: 13.6rem;
      height: 2.2rem;
      position: absolute;
      left: 8.9rem;
      text-align: center;
      font-size: 1.8rem;
      font-family: Inter, 'Source Sans Pro';
      top: 22.6rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #ffffff;
      white-space: nowrap;
    }
    .rectangle-5-Tk9 {
      left: 9.1rem;
      top: 25.6rem;
      background-color: #3e3e3e;
      border-radius: 3rem;
      width: 32.7rem;
      height: 4.3rem;
      position: absolute;
    }
    .rectangle-10-NMK {
      height: 4.3rem;
      position: absolute;
      left: 9.1rem;
      top: 32rem;
      background-color: #ff6e2d;
      border-radius: 3rem;
      width: 32.7rem;
    }
    .line-1-HUH {
      position: absolute;
      left: 19.2rem;
      top: 26.7rem;
      background-color: #505050;
      width: 0.1rem;
      height: 2.7rem;
    }
    .item-91-cmT {
      font-weight: 800;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 3.4rem;
      height: 2.2rem;
      position: absolute;
      font-size: 1.8rem;
      left: 15.1rem;
      top: 26.7rem;
      text-align: center;
      color: #ffffff;
    }
    .rectangle-7-jLH {
      width: 4rem;
      height: 1.1rem;
      position: absolute;
      left: 10.9rem;
      top: 26.7rem;
      background-color: #ff671f;
      border-radius: 0.3rem;
    }
    .rectangle-9-4tM {
      background-color: #046a38;
      border-radius: 0.3rem;
      width: 4rem;
      height: 1.1rem;
      position: absolute;
      left: 10.9rem;
      top: 28.2rem;
    }
    .rectangle-8-c9B {
      position: absolute;
      left: 10.9rem;
      top: 27.5rem;
      background-color: #ffffff;
      width: 4rem;
      height: 1rem;
    }
    .ellipse-2-wx9 {
      position: absolute;
      left: 12.4rem;
      top: 27.5rem;
      background-color: #06038d;
      border-radius: 0.5rem;
      width: 1rem;
      height: 1rem;
    }
    .star-1-t6h {
      vertical-align: top;
      width: 0.6rem;
      height: 0.6rem;
      position: absolute;
      left: 12.6rem;
      top: 27.7rem;
      object-fit: contain;
    }
    .proceed-d4H {
      height: 2.2rem;
      position: absolute;
      font-weight: 600;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      width: 7.3rem;
      left: 21.5rem;
      top: 33.1rem;
      text-align: center;
      font-size: 1.8rem;
      white-space: nowrap;
    }
    .or-use-one-of-the-following-options-irR {
      height: 2.2rem;
      left: 8.7rem;
      font-size: 1.8rem;
      font-weight: 600;
      white-space: nowrap;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      width: 31rem;
      position: absolute;
      top: 40.5rem;
      text-align: center;
      line-height: 1.2125;
    }
    .rectangle-11-pPf {
      height: 4.4rem;
      left: 9.1rem;
      box-sizing: border-box;
      border-radius: 0.5rem;
      width: 11rem;
      position: absolute;
      top: 44.7rem;
      border: solid 0.1rem #505050;
      background-color: #171717;
    }
    .rectangle-12-8QM {
      box-sizing: border-box;
      height: 4.4rem;
      left: 22.3rem;
      border: solid 0.1rem #505050;
      background-color: #171717;
      border-radius: 0.5rem;
      width: 10.8rem;
      position: absolute;
      top: 44.7rem;
    }
    .rectangle-13-FE5 {
      position: absolute;
      box-sizing: border-box;
      background-color: #171717;
      height: 4.4rem;
      left: 35.1rem;
      top: 44.7rem;
      border: solid 0.1rem #505050;
      border-radius: 0.5rem;
      width: 11rem;
    }
    .gmail-wch {
      white-space: nowrap;
      width: 3.3rem;
      height: 1.5rem;
      position: absolute;
      left: 15.2rem;
      font-size: 1.2rem;
      font-weight: 600;
      color: #ffffff;
      top: 46.2rem;
      text-align: center;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
    }
    .ellipse-3-3vd {
      position: absolute;
      left: 23.3rem;
      top: 45.7rem;
      background-color: #001aa6;
      border-radius: 1.2rem;
      width: 2.4rem;
      height: 2.4rem;
    }
    .facebook-nNR {
      font-size: 1.2rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 5.7rem;
      height: 1.5rem;
      top: 46.2rem;
      font-weight: 600;
      line-height: 1.2125;
      position: absolute;
      left: 26.1rem;
      text-align: center;
    }
    .google-hkH {
      position: absolute;
      text-align: center;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 4.2rem;
      height: 1.5rem;
      left: 40.3rem;
      top: 46.2rem;
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 1.2125;
      color: #ffffff;
    }
    .g-RAV {
      position: absolute;
      left: 37.25rem;
      top: 45.8rem;
      color: #150099;
      font-family: Inter, 'Source Sans Pro';
      width: 1.3rem;
      height: 2.1rem;
      font-weight: 700;
      line-height: 1.2125;
      font-style: italic;
      white-space: nowrap;
      text-align: center;
      font-size: 1.7rem;
    }
    .rectangle-14-8ah {
      width: 3.1rem;
      height: 2.3rem;
      position: absolute;
      left: 10.9rem;
      top: 45.8rem;
      background-color: #ffffff;
      border-radius: 0.7rem;
    }
    .mail-bg-1-f4q {
      vertical-align: top;
      width: 3.2192rem;
      height: 2.7rem;
      position: absolute;
      left: 10.9rem;
      top: 45.6rem;
      object-fit: cover;
    }
    .f-BJ5 {
      width: 1rem;
      position: absolute;
      left: 24rem;
      top: 45.9rem;
      font-size: 2.3rem;
      line-height: 1.2125;
      height: 2.8rem;
      text-align: center;
      font-weight: 800;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
}
